Exploratory Data Analysis

In [2]:
# !pip install --upgrade pip
# !pip install ydata-profiling
# !pip install --upgrade setuptools

In [3]:
from ydata_profiling import ProfileReport
import pandas as pd
import time

In [4]:
df = pd.read_csv('../00_Data/data.csv')
df.head()

  Salary Date Salary Month       Salary ID  ... Performance  Talent Department
0  2011-05-15      2011-05  100001_2011-05  ...           E     NaN         AA
1  2011-05-15      2011-05  100002_2011-05  ...           D       A         AA
2  2011-05-15      2011-05  100003_2011-05  ...           C       B         AA
3  2011-05-15      2011-05  100004_2011-05  ...           E     NaN         AA
4  2011-06-12      2011-06  100001_2011-06  ...           E     NaN         AA

[5 rows x 22 columns]

In [ ]:
profile = ProfileReport(df, title='Test title', html = {'style':{'full_width': True}})
profile.to_file(output_file='profile_report')

Summarize dataset: 100%|██████████| 36/36 [00:02<00:00, 14.15it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.22s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  3.46it/s]
/Users/variablz/Documents/GitHub/Employee-Retention-Live/.venv/lib/python3.12/site-packages/ydata_profiling/profile_report.py:379: UserWarning: Extension  not supported. For now we assume .html was intended. To remove this warning, please use .html or .json.
  warnings.warn(
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 336.24it/s]

In [10]:
round(time.time() * 1000)

1741274472723

In [13]:
def generate_profile_report(df, path, title):
    profile = ProfileReport(df, title=title, html = {'style':{'full_width': True}})

    epoch = round(time.time() * 1000)
    report_name = path + '/profile_' + str(epoch) + '.html'
    profile.to_file(output_file=report_name)

In [15]:
generate_profile_report(df, 'reports', 'Original Data')

Summarize dataset: 100%|██████████| 36/36 [00:02<00:00, 12.81it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.28s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  3.52it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 404.86it/s]