Optimize Columns

In [2]:
import sys, os
project_libs = os.path.abspath('../libs')
sys.path.append(project_libs)

In [ ]:
import pandas as pd
from InputOptimization import InputOptimization

In [4]:
io = InputOptimization()

In [5]:
df = pd.read_csv('../00_Data/02_ResignedEmployees.csv')
df.head()

,Salary Date,Salary Month,Salary ID,Salary Status,Employee ID,Employee Name,Gender,Generation,Joining,Termination,...,Employee Grade,Location,Career Bucket,Age Bucket,Manager ID,Manager Name,Performance,Talent,Department,active_months
0,2011-05-15,2011-05,100019_2011-05,Inactive,100019,Name_100019,Female,Millennials,2006-06-01,2011-05-01,...,Junior,Bengaluru,Below 30,26 To 30,102292,Name_102292,E,NaN,AC,59.0
1,2011-05-15,2011-05,100020_2011-05,Inactive,100020,Name_100020,Female,Millennials,2011-01-01,2011-05-15,...,Mid,Bengaluru,31 to 35,26 To 30,100411,Name_100411,E,NaN,AD,4.0
2,2011-05-15,2011-05,100043_2011-05,Inactive,100043,Name_100043,Male,Millennials,2009-02-01,2011-04-29,...,Junior,Bengaluru,Below 30,26 To 30,102304,Name_102304,E,NaN,AG,26.0
3,2011-05-15,2011-05,100063_2011-05,Inactive,100063,Name_100063,Male,Gen X,2000-10-01,2011-04-21,...,Senior,Bengaluru,Above 35,36 T0 40,102324,Name_102324,E,NaN,AI,126.0
4,2011-05-15,2011-05,100074_2011-05,Inactive,100074,Name_100074,Male,Millennials,2000-11-01,2011-05-11,...,Mid,Bengaluru,31 to 35,31 To 35,100619,Name_100619,E,NaN,AI,126.0

In [6]:
df.shape

(566, 23)

In [7]:
io.generate_profile_report(df, '../01_EDA/reports', 'Resigned Employees')

Summarize dataset: 100%|██████████| 41/41 [00:00<00:00, 45.76it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.15s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  2.48it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 289.18it/s]

Remove Columns

1. Salary Month
2. Salary ID
3. Salary Status
4. Em ployee ID
5. Employee Name
6. Term Category
7. Term Reason
8. Manager Name
9. Performance

In [8]:
def remove_columns(df:pd.DataFrame, columns:list):
    df = df.drop(columns=columns, axis=1)
    return df

In [9]:
df.columns

Index(['Salary Date', 'Salary Month', 'Salary ID', 'Salary Status',
       'Employee ID', 'Employee Name', 'Gender', 'Generation', 'Joining',
       'Termination', 'Term Category', 'Term Reason', 'Term Sub Reason',
       'Employee Grade', 'Location', 'Career Bucket', 'Age Bucket',
       'Manager ID', 'Manager Name', 'Performance', 'Talent', 'Department',
       'active_months'],
      dtype='object')

In [10]:
rem_cols = ['Salary Month', 'Salary ID', 'Salary Status',
            'Employee ID', 'Employee Name', 'Term Category',
            'Term Reason', 'Manager Name', 'Performance', 'Salary Date', 'Joining', 'Termination']
df = remove_columns(df, rem_cols)
df.head()

,Gender,Generation,Term Sub Reason,Employee Grade,Location,Career Bucket,Age Bucket,Manager ID,Talent,Department,active_months
0,Female,Millennials,Career Growth,Junior,Bengaluru,Below 30,26 To 30,102292,NaN,AC,59.0
1,Female,Millennials,Career Growth,Mid,Bengaluru,31 to 35,26 To 30,100411,NaN,AD,4.0
2,Male,Millennials,Career Growth,Junior,Bengaluru,Below 30,26 To 30,102304,NaN,AG,26.0
3,Male,Gen X,Career Growth,Senior,Bengaluru,Above 35,36 T0 40,102324,NaN,AI,126.0
4,Male,Millennials,Personal Reason,Mid,Bengaluru,31 to 35,31 To 35,100619,NaN,AI,126.0

In [11]:
df.to_csv('../00_Data/03_OptimizedColumns.csv', index=False)

In [12]:
io.generate_profile_report(df, '../01_EDA/reports/', 'Optimized Columns')

Summarize dataset: 100%|██████████| 24/24 [00:00<00:00, 55.26it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:00<00:00,  1.31it/s]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  5.79it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 665.76it/s]