Outliers Handling

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('../00_Data/03_OptimizedColumns.csv')
df.head()

,Gender,Generation,Term Sub Reason,Employee Grade,Location,Career Bucket,Age Bucket,Manager ID,Talent,Department,active_months
0,Female,Millennials,Career Growth,Junior,Bengaluru,Below 30,26 To 30,102292,NaN,AC,59.0
1,Female,Millennials,Career Growth,Mid,Bengaluru,31 to 35,26 To 30,100411,NaN,AD,4.0
2,Male,Millennials,Career Growth,Junior,Bengaluru,Below 30,26 To 30,102304,NaN,AG,26.0
3,Male,Gen X,Career Growth,Senior,Bengaluru,Above 35,36 T0 40,102324,NaN,AI,126.0
4,Male,Millennials,Personal Reason,Mid,Bengaluru,31 to 35,31 To 35,100619,NaN,AI,126.0

In [18]:
df.shape

(566, 11)

Visual Understanding

In [19]:
df['active_months'].sort_values().unique()

array([  2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,  12.,
        13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,  23.,
        24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,  34.,
        35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,  45.,
        46.,  47.,  48.,  49.,  50.,  52.,  53.,  54.,  55.,  56.,  57.,
        58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,  67.,  68.,
        69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,  78.,  79.,
        80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,  89.,  90.,
        91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99., 100., 101.,
       102., 103., 105., 106., 108., 109., 110., 111., 112., 113., 115.,
       116., 117., 118., 121., 123., 124., 126., 127., 128., 129., 131.,
       132., 133., 136., 137., 140., 141., 144., 145., 148., 152., 154.,
       156., 159., 168., 173., 174., 175., 187., 188., 190., 192., 347.])

In [20]:
df = df.loc[df['active_months'] < 200]
df.shape

(565, 11)

Inter-Quartile Range (IQR)

In [21]:
info = df['active_months'].describe()
info

count    565.000000
mean      54.879646
std       39.162731
min        2.000000
25%       24.000000
50%       43.000000
75%       75.000000
max      192.000000
Name: active_months, dtype: float64

In [22]:
q3 = info.loc['75%']
q1 = info.loc['25%']

iqr = q3-q1
iqr

np.float64(51.0)

In [23]:
upper_bound = q3 + (1.5 * iqr)
lower_bound = q1 - (1.5 * iqr)

upper_bound, lower_bound

(np.float64(151.5), np.float64(-52.5))

Outlier Percentage

In [24]:
# Outlier Rows

df_upper_rows = df[df['active_months'] >= upper_bound]
df_lower_rows = df[df['active_months'] <= lower_bound]

outlier_rows = df_upper_rows.shape[0] + df_lower_rows.shape[0]
total_rows = df.shape[0]

outlier_percent = round((outlier_rows/total_rows)* 100, 1)
outlier_percent

2.3

Non Outlier Rows

In [25]:
df_nout = df.copy()
df_nout = df_nout[df_nout['active_months'] < upper_bound]
df_nout = df_nout[df_nout['active_months'] > lower_bound]
df_nout.shape

(552, 11)

In [26]:
df_nout.to_csv('../00_Data/04_NoOutliers.csv', index=False)

Outlier Rows

In [27]:
df_upper = df[df['active_months'] >= upper_bound]
df_lower = df[df['active_months'] <= lower_bound]

df_out = pd.concat([df_upper, df_lower])
df_out.shape

(13, 11)

In [28]:
df_out

,Gender,Generation,Term Sub Reason,Employee Grade,Location,Career Bucket,Age Bucket,Manager ID,Talent,Department,active_months
46,Male,Millennials,Career Growth,Junior,Gujarath,31 to 35,31 To 35,102391,NaN,BA,159.0
318,Male,Millennials,Career Growth,Mid,Bengaluru,31 to 35,31 To 35,100854,NaN,AI,156.0
383,Female,Millennials,Salary Hike,Mid,Bengaluru,31 to 35,31 To 35,100607,NaN,AI,154.0
417,Male,Gen X,Personal Reason,Mid,Bengaluru,Above 35,41 T0 45,102634,NaN,AY,173.0
433,Male,Gen X,Personal Reason,Mid,Bengaluru,Above 35,41 T0 45,102324,NaN,AI,190.0
444,Male,Gen X,Personal Reason,Mid,Bengaluru,Above 35,36 T0 40,100017,NaN,AB,152.0
447,Male,Gen X,Personal Reason,Mid,Bengaluru,Above 35,46 T0 50,100439,NaN,AD,192.0
475,Male,Gen X,Salary Hike,Mid,Bengaluru,Above 35,41 T0 45,100598,NaN,AI,187.0
489,Male,Millennials,Relocated to Other Branch,Mid,Bengaluru,Above 35,36 T0 40,101644,NaN,DI,168.0
491,Male,Gen X,Career Growth,Senior,Bengaluru,Above 35,46 T0 50,102410,NaN,BQ,174.0
515,Female,Gen X,Personal Reason,Junior,Bengaluru,Above 35,41 T0 45,102324,NaN,AI,175.0
519,Male,Gen X,Personal Reason,Mid,Bengaluru,Above 35,41 T0 45,100421,NaN,AD,173.0
533,Female,Gen X,Personal Reason,Senior,Bengaluru,Above 35,46 T0 50,102351,NaN,BF,188.0

In [29]:
df_out.to_csv('../00_Data/Outliers.csv', index=False)